{% block title "Blog  " ~ name %}


{% block content %}
    <h1>Blog  {{ name }}!</h1>
{% endblock %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

